body {
    margin: 0px;
}


#grid-container {
    display: grid; /* NEW */
   }

   header {
    padding: 16px;
    background-color: orange;
    color: #ffffff; 
    text-align: center;
    grid-area: header; /* NEW */
   }

   #menu {
    padding: 32px;
    background-color: darkgoldenrod;
    grid-area: menu; /* NEW */
   }

   #menu > nav{
    margin-top: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-flow: column;
   }

   #main-content {
    padding: 32px;
    grid-area: main;
    background-color: papayawhip; /* NEW */
   }
   footer {
    padding: 16px;
    background-color: orange;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    grid-area: footer; /* NEW */
   }


   #grid-container {
    display: grid;
    grid-template-areas:
    'header header'
    'menu main'
    'footer footer';
    grid-template-columns: 1fr 6fr; /* NEW */
   }    